<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://github.com/kashishgarg2704/alpha_blog">The Alpha Blog application</a>


</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>